<% include header %>

<script>

</script>

<div ng-app>
    <div>
    <input type="text" placeholder="filter" ng-model="filterMembers" />

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="member in Members | filter:filterMembers | orderBy: 'email'">
                <td>{{ member.name }}</td>
                <td>{{ member.email }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<% include footer %>