<% include header %>
<ol>
    <li class="active"><a href="/basic">Basic</a></li>
    <li><a href="/list">List</a></li>
    <li><a href="/controller">Controller</a></li>
    <li><a href="/interactive">Interactive</a></li>
    <li><a href="/factory">Factory</a></li>
    <li><a href="/spa">SPA</a></li>
</ol>
<% include footer %>
